$primaryWhite: #fff;
$primaryBlack: #000;
$primaryPink: #ec187b;
$primaryGreen: #4c862e;
$primaryLightGreen: #68a14b;
$primaryGrayBackground: #eef2f4;

$secondaryThickGreen: #82bd54;
$secondaryLightGreen: #6be3a2;
$secondarySkyBlue: #12d9e3;
$secondaryLightBlue: #babffc;
$secondaryPink: #FC9C9C;
$secondaryGold: #fca66c;
$secondaryYellow: #f2ca00;
$secondaryRed: #EB4848;

$tertiaryBlack: #1c1919;
$tertiaryGray1: #383434;
$tertiaryGray2: #949494;
$tertiaryGray3: #b9b9b9;
$tertiaryGray4: #FFF4F9;
$tertiaryGray5: #f2f2f2;
$tertiaryGray6: #16202e;
$tertiaryGray7: #9AA5BA;
$tertiaryGray9: #ffeded;
$tertiaryGrays1: #ffeded;
$teritaryBlack: #1c1919;



$secondaryThickGreen: #82bd54;
$secondaryLightGreen: #6be3a2;
$secondarySkyBlue: #12d9e3;
$secondaryLightBlue: #babffc;
$secondaryPink: #FC9C9C;
$secondaryGold: #fca66c;
$secondaryYellow: #f2ca00;
$secondaryRed: #EB4848;
$UrbanistItalic: "UrbanistItalic";
$UrbanistRegular: "UrbanistRegular";
$UrbanistSemiBold: "UrbanistSemiBold";
$UrbanistLight: "UrbanistLight";
$UrbanistBold: "UrbanistBold";
$UrbanistMedium: "UrbanistMedium";