@import "../../../../index.scss";

.forgotPassword {
  padding: 30px;
  padding-top: 27px;
  padding-left: 29px;
  overflow: auto;
  width: 100%;

  &__goback {
    display: flex;
    gap: 8px;
    margin-bottom: 61px;
    cursor: pointer;

    span {
      letter-spacing: 0.5px;
      color: $tertiaryGray1;
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 11px;

    .headerText {
      letter-spacing: 0.5px;
      text-transform: uppercase;
      font-family: $UrbanistSemiBold;
      color: $tertiaryGray6; // changed after rebase
      font-size: 24px;
      line-height: 29px;
    }

    .subheaderText {
      letter-spacing: 0.5px;
      color: $teritaryBlack;
      font-size: 14px;
      line-height: 17px;
      max-width: 332px;
    }
  }

  &__form {
    margin-top: 45px;

    .formField {
      .formFieldItem {
        display: flex;
        // gap: 6px;
        flex-direction: column;

        .label {
          font-size: 14px;
          line-height: 16px;
          color: $tertiaryGray1;
          display: flex;
          justify-content: space-between;
        }

        .forminput {
          background: $primaryWhite;
          border: 1px solid $tertiaryGray4;
          border-radius: 4px;
          height: 36px;
          min-height: 36px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding-left: 15px;

          input {
            border: none;
            flex: 1;
          }
        }
      }
    }

    .forgotPasswordButton {
      width: 100%;
      margin-top: 50px;
    }
  }
}

@include maxWidth(1080) {
  .forgotPassword {
    &__header {
      .header-text {
        font-size: 20px;
      }
    }
  }
}
